* {
    font-family: 'Rajdhani', serif;
    font-weight: 300;
    color: #000000;
}

body {
    margin: 0;
    background-color: #1D1E2C;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5, 75px);
    background-color: #F1F3F6;
    padding: 15px;
    border-radius: 10px;
    /* box-shadow: 0px 0px 5px 1px #758498; */
}

button {
    cursor: pointer;
    margin: 7px;
    padding: 0;
    border-radius: 10px;
    font-size: 1.8em;
    border: none;
    background-color: #F1F3F6;
    box-shadow: -5px -5px 5px -3px #fff, 5px 5px 5px -3px #00000040 ;
}

button:active {
    background-color: #fff;
}

button:focus {
    outline: none;
}

.col-2{
    grid-column: span 2;
}

.display {
    grid-column: 1 / -1;
    padding: 16px;
    display: flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: #F1F3F6;
    border-radius: 10px;
    justify-content: space-between;
    /* word-break: break-all; */
    box-shadow: inset 0px 0px 5px #00000040;
    font-size: 2em;
    overflow: hidden;
}

#valor-current {
    font-size: 1.5em;
   
}

#valor-before {
    font-size: 1.5em;
    /* overflow-x: hidden; */
    overflow: hidden;
    
    
}

.operador {
    background-color: #1D1E2C;    
    color: rgb(209, 176, 30);
    font-size: 30px;
}

.modulo, .ac, .porcentaje {
    font-size: 20px;
}